<!-- application/templates/admin/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponser Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Sponser Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username1">Sponsor Username</label>
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password1">Sponsor Password</label>
                {{ form.password(class="form-control") }}
            </div>
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('register1') }}">New Sponsor registration is here!</a>
    </div>
</body>
</html>
